#dashboardCards {
  display: flex;
  background-color: #e6e6e6;
}
#dashboardCard {
  border: 2px solid rgb(0, 0, 0);
  width: 20rem;
  margin: 10px;
}
#jumbotron:hover {
  background-color: rgb(236, 255, 255);
}

#calendar {
  margin: 0.75rem;
  border-radius: 10px;
  width: 19rem;
}
#chatbot {
  background-color: #292b2c;
  color: rgb(60, 241, 60);
  border-radius: 13px;
  transition: ease-in-out 0.5s;
}

#chatbotHeader {
  background-color: #1a1a1a;
  float: right;
}
#chatbotOnline {
  padding: 4px;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  #dashboardCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #dashboardCard {
    border: 2px solid rgb(0, 0, 0);
    width: 20rem;
    margin: 10px;
  }

  #calendar {
    border: 2px solid rgb(0, 0, 0);
    padding: 2px;
  }
}
