#dashboardCards {
  display: flex;
}

#calendar {
  margin: 0.75rem;
  border-radius: 10px;
  width: 19rem;
}
#chatbot {
  position: relative;
  background-color: #292b2c;
  border-radius: 13px;
  bottom: 2rem;
}

#chatbotHeader {
  background-color: #1a1a1a;
  float: right;
  padding: 2px;
}
