#barBody {
  margin: 0 auto;
  width: 1100px;
  display: flex;
}

#ticketlog {
  width: 50%;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  overflow: scroll;
}

#ticketlog::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

#ticketlog::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  border: 3px solid rgb(221, 221, 221); /* color of the tracking area */
}

#ticketlog::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
}
#openTicketLog {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);

  padding: 10px;
  height: 200px;
  position: relative;
  list-style: none;
}
#btn {
  height: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#mainTitle {
  width: 100%;
  background-color: blanchedalmond;
  padding: 20px;
}

#closedTicketLog {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  margin: 5px;
  width: 250px;
  padding: 10px;
  height: 200px;

  list-style: none;
  position: relative;
}
#btn2 {
  height: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#openLabel {
  color: red;
}

#closedLabel {
  color: green;
}
#bar {
  width: 50%;
  float: left;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(189, 183, 183);

  box-shadow: inset 4px 30px 80px 10px #080000;
  -webkit-box-shadow: inset 2px 1px 4px 1px #969696;
}
#modalbody {
  justify-content: center;
  background-color: aquamarine;
}

#qrcode {
  margin: 10px;
  float: right;
  background-color: #969696;
}

/* @media screen and (min-width: 767px) {
  #ticketlog {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
  }

  #bar {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(189, 183, 183);

    box-shadow: inset 4px 30px 80px 10px #080000;
    -webkit-box-shadow: inset 2px 1px 4px 1px #969696;
  }

  #openTicketLog {
    background-color: rgb(255, 204, 204);
    height: 60px;
    list-style: none;
  }
  #closedTicketLog {
    background-color: rgb(204, 255, 204);
    height: 60px;
    list-style: none;
  }
  #btn {
    height: 35px;
    float: right;
  }
} */
