#barBody {
  justify-items: center;
}

#ticketlog {
  background-color: rgb(165, 165, 165);
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid white;
}

#closedTicketLog {
  background-color: white;
}

#openLabel {
  color: red;
}

#closedLabel {
  color: green;
}
#bar {
  width: 1100px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid rgb(189, 183, 183);
  border-radius: 15px;
  box-shadow: inset 4px 30px 80px 10px #080000;
  -webkit-box-shadow: inset 2px 1px 4px 1px #969696;
}

@media screen and (min-width: 767px) {
  #ticketlog {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
  }

  #bar {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(189, 183, 183);
    border-radius: 15px;
    box-shadow: inset 4px 30px 80px 10px #080000;
    -webkit-box-shadow: inset 2px 1px 4px 1px #969696;
  }

  #openTicketLog {
    background-color: rgb(255, 204, 204);
    height: 60px;
    list-style: none;
  }
  #closedTicketLog {
    background-color: rgb(204, 255, 204);
    height: 60px;
    list-style: none;
  }
  #btn {
    height: 35px;
    float: right;
  }
}
