#profileContainer {
  padding: 20px;
  display: flex;
}
#profileHeader {
  padding: 20px;
}

#profileCard {
  width: 50%;
}
#syncButton {
  border: 1px solid black;
  border-radius: 200px;
  float: right;
  padding: 10px;
  right: 10px;
}
#profilePhoto {
  margin: 45px;
}

#editButton {
  float: left;
  margin: 1rem;
  width: 40%;
}
#removeButton {
  float: right;
  margin: 1rem;
  width: 40%;
}

#downloadButton {
  float: right;
  margin: 1rem;
}

#homeButton {
  float: right;
  margin: 1rem;
}

#csvlink {
  color: white;
}

#chatbot {
  position: absolute;
  right: 0;
  bottom: 0%;
}
