#blog {
  background-color: bisque;
}

#buttonContainer {
  margin: 0 auto;
}

#time {
  display: flex;
  align-items: center;
}

#timeLabel {
  background-color: cadetblue;
}

#card {
  display: none;
}

#syncSlack {
  float: right;
}
#openInfo {
  margin-left: 20px;
  position: absolute;
  float: left;
  left: -50px;

  border: 2px solid black;
  border-radius: 5px;
}

@media only screen and (min-width: 1000px) {
}
